header {                       
    background: linear-gradient(45deg, black,#FE895E, grey,white );
    margin: 0;
    
   
    
}
header h1 {
    display: flex;
    flex-direction: column;
    font: center;
    font-family: 'Times New Roman';
    padding-top: 40px; 

}



nav {
    background-color:#FE895E;
    box-shadow: 5px 5px 10px rgb(70, 69, 69);
}
body{
       position: relative;
       font-family: 'Times New Roman';
       
} 
main {
    margin-top: 5em;
    font: icon;
    font-size: large;
    border: 1px solid white;
}
form h2 {
    background-color: black;
    color: white;
    text-align: center;
    border-top: solid 40px black;
    border-bottom: solid 40px black;
    
        
}


form { 
    margin-left: 25%;
    margin-right: 30%;
    border: solid black 10px;
    border-bottom: black 10%;
    border-radius: 25px;  
    margin-top: 5%;
    
}

article {
    padding-top: 50px;
    text-align: center;
}
svg {
    color: white;
}


img {
    border-radius: 50%;
}

.animate-transform {
    animation: 2s ease-in 1s alternate goRight;
}

@keyframes goRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1300px);
    }
}

/*pour creer une transition sur un élément lorsqu'on passe la souris
img:hover {
    height: 300px;
    width: 300px;
    transition: height 200ms,widht 200ms;
}*/
              
a:visited {
    color: rgb(19, 19, 19);
    
}
a:link {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: Impact, fantasy;
    
}


footer {       
    margin-top: 5%;
    background: #F99F72;  
    width: 99vw; 
    height: 25vh;  
    padding-left: 50em;
   
    
      
}