header {                       
    background-color: #09e4ad;
    margin: 0;
    padding: 0;
    
}
h1 {
    display: flex;
    flex-direction: column;
    font: center;
    border: 1px solid white;
}
    
body{
       background-color: rgb(13, 99, 211);
       position: relative;
} 
main {
    margin-top: 5em;
    font-family: 'Times New Roman';
    font: icon;
    font-size: large;
    border: 1px solid white;
}

svg {
    color: white;
    border: 1px solid white;
}




a:visited {
    color: rgb(19, 19, 19);
    border: 1px solid white;
}
a:link {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: Impact, fantasy;
    border: 1px solid white;
}


footer {       
    margin-top: 5%;
    background: rgb(77, 75, 75);  
    width: 99vw; 
    height: 25vh;  
    padding-left: 1em;
    border: 1px solid white;
    
      
}